body {
    background-image: url("/imgs/acff-purple.webp");
    background-size: cover;
}

.sidebar {
    background-color: rgba(177, 100, 207, 0.5);
    border: 1px solid #a71973;
}

.translucent-text-box {
    background-color: rgba(61, 45, 73, 0.683);
    border: 5px solid #a71973;
    color: #ffffff;
}

.button {
    background-color: #bf6d8c;
    border-color:  #676565;
    color: #ffffff;
}

.link {
    color: #ffd6b3;
}

.button-link {
    color: #ffffff;
    text-decoration: none;
}