body {
    background-image: url('imgs/background.png');
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
}

i {
    float:right;
}
.light-blue-text {
    color:rgb(176, 217, 216);
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.active {
    background-color: #04AA6D;
}

.translucent-text-box {
    background-color: rgba(74, 73, 91, 0.8);
    max-width: 75%;
    border: 5px solid rgb(28, 30, 31);
    padding: 20px;
    margin: auto;
    right: 200px;
}

i {
    color: white;
    font-size: 44px;
    margin: auto;
  }

i:hover {
    color:rgb(180, 194, 194);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 125px;
    height: 100%;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #613261;
    border-top: 0px;
    border-left: 0px;
}

.button {
    width: 120px;
    margin: 2px;
    text-align: center;
    background-color: rgba(74, 73, 91, 0.8);
    border-style: double;
    max-width: 90%;
    border-color: #613261;
}